<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add a Song</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body class="p-3 mb-2 bg-dark text-white">

    <div class="container">
        <h2>Add a Song to Playlist</h2>
        <div class="input-group form-check-input" role="alert">
            <form action="#" th:action="@{/save-song}" th:object="${song}" method="post">
                <input type="hidden" th:field="*{id}">
                <input type="text" class="form-control" th:field="*{artist}" placeholder="Artist"><br>
                <input type="text" class="form-control" th:field="*{title}" placeholder="Title"><br>
                <input type="text" class="form-control" th:field="*{album}" placeholder="Album"><br>
                <input type="text" class="form-control" th:field="*{year}" placeholder="Year"><br>
                <!--            <input type="text" th:field="*{rating}" placeholder="Rating"><br>-->
                <input class="btn btn-success" type="submit" th:value="Save">
                <br><br>
                <a href="/" class="btn btn-primary">Main Page</a>
            </form>
        </div>
    </div>
</body>
</html>