<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>The Ultimate Playlist App</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="container p-2 mb-2 bg-dark text-white">
        <h2>The Ultimate Playlist App</h2>
        <br>
        <a href="/add-song" class="btn btn-primary">Add a Song</a><br><br>
        <a href="/view-songs" class="btn btn-primary">Full Playlist</a><br><br>
        <a href="/add-default-playlist" class="btn btn-primary">Add 3 default songs</a><br><br>
        <a href="https://open.spotify.com/" target="_blank" class="btn btn-primary">Open Spotify</a>
    </div>
</body>
</html>